[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.2"
django-ninja = "~=1.4"
psycopg2-binary = "~=2.9"
django-environ = "~=0.12"
gunicorn = "~=23.0"
pyyaml = "~=6.0"
gevent = "~=25.4"
logging-utilities = "~=4.6"
boto3 = "~=1.37"
nanoid = "~=2.0"
whitenoise = "~=6.9"
pystac-client = "~=0.8"
ecs-logging = "~=2.2"
beautifulsoup4 = "~=4.13"
requests = "~=2.32"

[dev-packages]
yapf = "*"
pylint = "*"
pylint-django = "*"
ipdb = "*"
isort = "*"
django-extensions = "*"
django_debug_toolbar= "*"
faker = "*"
factory-boy = "*"
dill = "*"
pytest = "*"
pytest-django = "*"
mypy = "*"
debugpy = "*"
bandit = "*"
django-stubs = "~=5.1"
boto3-stubs = {extras = ["cognito-idp"], version = "~=1.37"}
pytest-xdist = "*"
pytest-cov = "*"
types-nanoid = "~=2.0"
types-gevent = "~=24.11"
types-requests = "~=2.32"

[requires]
python_version = "3.12"
